<footer><p>&copy; Maxlew Studios AB <span id="year"></span>, Licens: KGF</p></footer>
<script>
  let date = new Date()

  document.getElementById("year").innerHTML = date.getFullYear()
</script>
</body>
</html>