html {
  height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    font-size: 1.5em;
    background: linear-gradient(135deg, #dff6ff, #e6f7ff, #f3e8ff, #fff7f2);
      background-size: 400% 400%;
      animation: pastelMove 5s ease infinite;
    /* background: linear-gradient(135deg, #dff6ff 0%, #e6f7ff 30%, #f3e8ff 60%, #fff7f2 100%); */

    /* background: linear-gradient(to left top, #949db8, #fff); */
}

@keyframes pastelMove {
      0%   { background-position: 0% 50%; }
      50%  { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

h1 {
  margin-bottom: 1em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.top-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-config {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .menu > h1,h4 {
    text-align: center;
} */


.fullscreen {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  margin-left: 5%;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}


.quarter {
    height: 50%;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.multiple {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.green {
    color: green;
}

.red {
    color: red;
}

.selected {
    background-color: lightgreen;
}

.logocolor {
    color: #00AEEF;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #7d7d7d;
}

.flash {
    animation: glow 1s alternate;
}

@keyframes glow {
  from {
    background-color: white;
  }
  to {
    background-color: orange;
  }
}

.fullscreen > img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

.small_logo {
    margin: 2em;
    width: 300px;
    float: left;
}

.small_logo2 {
  margin: 2em;
  /* margin-right: 10vw; */
  float: right;
}

.logo {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    width: 500px;
    -webkit-animation: fadein 3s;
}

.logotext {
    visibility: hidden;
    /*-webkit-animation: fadein 8s;*/
}

#logo_title {
    font-size: 50px;
}

#logo_text {
    font-size: 50px;
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
